@font-face 
{ 
    font-family: 'Raleway';
    src: url('../polices/Raleway-Regular.ttf') format('truetype');
		font-weight:normal;
		font-style: normal;

}


body
{
	
	font-family: Raleway;
}

/*Logo + menu*/

nav
{
	display: flex;
	justify-content: space-between;
}

.logomenu img
{
	width: 90px;
	height: 50px;
}

.h-a
{
	width: 20%;
	display: flex;
	justify-content: space-between;
	margin-left: 40%;
	padding-left: 200px;
}

.h-a a

{
	text-decoration: none;
	color:black;
}

.inscription
{
	text-decoration: none;
	color:#0065FC;
	display: flex;
	justify-content: flex-end;
	
}

.insc
{
	margin-right: 20px;
	order: 1;
}

.insc, .h-a
{
	margin-top: 10px;
}

.insc a:hover, .h-a a:hover
{
    color: #0065FC;
	border-top: 2px solid #0065FC;
}

/*Fin logo + Menu*/

.infosmenu
{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 0.7em;
	display: flex;
	align-items: center;
}

.infosmenu i
{
	color: #0065FC;
    margin-right: 5px;
    border: solid 2px #F2F2F2;
    padding: 5px;
	border-radius: 200%;
	font-size: 0.8em;
}

/*Bloc formulaire*/
.form-rechercher
 {
	display: flex;
	max-width: 100%;
	overflow: auto; /* Pour que le dépassement de saisie  soit géré
	automatiquement*/
	margin-bottom: 5px;
  }

  .icone-rech 
  {
	background-color: #F2F2F2;
	padding: 10px 12px;
	border-radius: 10px 0 0 10px;
	text-align: center;
  }

  .saisie-rech 
  {
	border-right: none;
	border-left: none;
	border-top: #F2F2F2 1px solid;
	border-bottom: #F2F2F2 1px solid;
	padding: 0 25px;
	width: 220px;
	font-weight: bold;
  }

  .saisie-rech::placeholder 
  {
	font-size: 1.2em;
	color: black;
  }

  .bouton-rech 
  {
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	border: none; /* Pour enlever la bordure du bouton par défaut*/
	border-radius: 0 10px 10px 0;
	padding: 0 25px;
	font-size: 1em;
	cursor: pointer;
  }

  /*Fin bloc formulaire*/

footer
{
margin-top: 10px;
display: flex;
justify-content: flex-start;
background-color: #F2F2F2;
}
/* Aligner les h3 avec les listes*/

.a_propos h3
{
	padding-left: 15%;
}

.nos_hebergements h3
{
	padding-left: 20%;
}
.assistance h3
{
	padding-left: 25%;
}

footer ul
{
	list-style-type: none;
}

footer .a_propos
{
	margin-left: 3%;
    margin-right: 7%;
}
footer .nos_hebergements
{
	margin-right: 15%;
}

/* Blocs filtres*/

.filtres
{
	display: flex;
	align-items: baseline;
}

.filtres ul
{
	display: flex;
	list-style-type: none;
}

.logofiltres
{
	display: flex;
}

.filtres li
{
	margin-right: 15px; /*espace entre intitulé logo et bordure à droite*/
}

.filtres p
{
	margin-right: 8.5px; /*espace entre intitulé logo et bordure à droite*/
}


.logo:hover
{
	color:#0065FC;
	border-color:#0065FC ;
	cursor: pointer;
}

.logo
{
	padding-right: 10px;
	display: flex;
	border: 2px solid #F2F2F2;
	border-radius: 20px;
}

.logo i
{
	color: #0065FC;
	font-size: 13px;
	background-color:#DEEBFF;
	border-radius:15px;
	margin-right: 10px;
	padding: 5px; /*logo centré dans l'icone*/
}

/*Fin Bloc filtres*/

#section1
{
	font-size: 0.9em;
	display: flex;
	justify-content: space-between;
	height: 580px;
}

/*Hebergements*/

.hebergements
{
	display: flex;
	flex-direction: column;
	flex-grow:1;
	background-color: #F2F2F2;
	margin-right: 15px;
	border-radius: 20px;
}

.hebergements figure
{
	border-radius: 20px;
	height: 185px;
	width: 200px;
	background-color: white;
}

.cover 
{
	object-fit: cover;
}

.hebergements figcaption
{
	padding-left: 10px;
	padding-bottom: 0;
}

.hebergements img
{
	width: 95%;
	padding: 5px 0px 0px 5px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height:110px;
}
figcaption h3
{
	margin-top: 0;
	margin-bottom: 2px;
}

figcaption p
{
	margin-top: 0;
	margin-bottom:1px;
}

/*notation1= Toutes les étoiles remplies*/
/*notation3= 1 étoile en moins*/
/*notation4= 2 étoiles en moins*/

.notation1,.notation3,.notation4
{ 
	color: #0065FC;
}

.notation3 i:last-child,.notation4 i:last-child, .notation4 i:nth-last-of-type(2)
{ 
	color: #F2F2F2;
}

.hebergements p:last-child
{
	font-size: 1em;
	font-weight:bold;
	padding-left: 2%;
	margin-top: 40px;
}

.hebergements h2
{
	padding-left: 2%;
}

.bloc1H
{
	display: flex;
	justify-content: space-around;
}

.bloc2H
{
	display: flex;
	margin-right: 20px;
}

.img1H
{
	margin-right:0;
}
.img2H
{
	margin-right:30px;
	margin-left: 30px;
}

.img3H
{
	margin-left:0;
}

/*Les plus populaires*/

.lpp
{ 
	height: 580px;
	border-radius: 20px;
	width: 500px;
	background-color: #F2F2F2;
}

.logo_lpp
{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}


.blocs
{
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.bloc1A
{
	display: flex;
	justify-content: flex-start;
	background-color: white;
	border-radius: 20px;
	width:85%; 
}


.bloc1A img, .bloc2A img
{
	
	margin-top: 4.5px;
	margin-left: 5px;
	margin-right: 20px;
	margin-bottom: 5px;
	border-radius: 20px 0 0 20px;
	width: 150px;
	height: 120px;
}

.bloc1A a
{
	width: 100%;
}

.bloc1A i,.bloc2A i
{
	color: #0065FC;
}

.legende
{
	position: relative;
	padding-right: 10px;
}

.notation, .notation2
{
	position: absolute;
	bottom: 5px;
}

.notation2 i:last-child
{
	color: #F2F2F2;
}

/*Activités Marseille*/

#activitésmarseille
{
	height: 450px;
	margin-top: 30px;
}

#activitésmarseille h2
{
	margin-left: 2%;
}

.bloc-A
{
	display: flex;
	justify-content: space-between;
}

.bloc-A figure
{
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	font-weight: bold;
}


.bloc-A figcaption
{

	padding-left: 10px;
}

/*Classes pour les images seules*/

.fig1, .fig4
{
	margin-right: 5px;
}

.enligne2, .fig4
{
	margin-left: 0px;
}

.fig1, .fig4
{
	width: 290px;
	height: 300px;
}

.fig1 img, .fig4 img
{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	max-width:100%;
	height: 85%;
}

/*Images en colonnes*/

/*Premier bloc*/

.fig2
{
	height:160px;
	border-radius: 20px;
}
.fig3
{
	height:120px;
	width: -moz-available; /*Compatibilité firefox*/
	border-radius: 20px;
	position: absolute;
	bottom: 1px;
}

.fig2 img
{
	height:80%;
}

.fig3 img
{
	height: 75%;
}

.fig2 img, .fig3 img
{
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

/*Deuxieme bloc*/

.fig5
{
	height:120px;
	border-radius: 20px;
}

.fig6
{
	height:160px;
	width: -moz-available; /*Compatibilité firefox*/
	border-radius: 20px;
	position: absolute;
	bottom:1px;
}

.fig5 img
{
	height:75%;
}

.fig6 img
{
	height: 75%;
}

.fig5 img, .fig6 img
{
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}


/*Config des images en lignes*/

.enligne1, .enligne2
{
	width: 365px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*Petits réglages*/

h1
{
	font-size: 1.5em;
}

h2 
{
	font-size: 1.4em;
}

h3
{
	font-size:1em;
}

.hebergements a, .lpp a, #activitésmarseille a
{
	color: black;
	text-decoration:none;
}

/* Responsive*/

@media only screen and (max-width: 1215px) and (min-width: 1151px) /*Breakpoint lpp
																pour éviter écrasement*/
{
	.lpp
		{
			 font-size: 0.85em;
		}
}



@media only screen and (max-width: 1150px) /*tablette*/
{
	nav
	{
		flex-wrap: wrap;
		border-bottom: 2px solid #F2F2F2 ;
	}

	.lg
	{
		width: 100%;
	}
	.insc
	{
		margin-right: 0;
		padding-right: 5px;
	}	
	.h-a
	{
		width: 60%;
		margin-left:0;
		padding-left: 5px;
	}

	#section1
	{
		height: 60%;
		display: flex;
		flex-direction: column;
	}
	
	.hebergements
	{
		margin-right: inherit;
	}


	.bloc1A 
	{
		width: 325px;
	}

	.bloc-A
		{
			font-size:0.9em;
		}

	.lpp
	{ 
		width: 100%;
		margin-top: 10px;
	}

	.a_propos h3, .nos_hebergements h3
	{
		padding-left: 0;
	}

	.a_propos ul, .nos_hebergements ul
	{
		padding: inherit;
	}

}



@media only screen and (max-width: 1070px) /*breakpoint pour 
										   activites marseille*/
{
	#activitésmarseille
		{
			height: 730px;
		}

		.bloc-A
		{
			flex-wrap: wrap;
			justify-content: space-around;
		}
		
		.fig4 
		{
		margin-left: 40px;
		}

}

@media only screen and (max-width: 760px) 
{
	header
	{
		height: auto;
	}
	nav
	{
		border-bottom: none;
	}
	.lg 
	{
		width: 50%;
	}
	.insc
	{
		order: 1;
	}
	.insc, .h-a
	{
		margin-top: 20px;
	}
	.filtres
	{
		display: block;
	}

	.filtres ul
	{
		width: 100%;
		flex-direction: column;
		flex-wrap: wrap;
		padding: inherit;
		height:100px;
	}
	.eco, .rom
	{
		width: 150px;
		margin-top: 10px;
	}

	.fam
	{
		width: 110px;
		margin-top: 10px;
		order: 1;
	}

	.dog
	{ 
		width: 200px;
		margin-top: 10px;
	}

	.hebergements
	{
		order: 1;
		margin-top: 10px;
	}

	.lpp
	{
		margin-top: inherit;
	}

	#activitésmarseille
	{
		height: 1450px;
		margin-top: 20px;
	}
	
	.bloc-A
	{
		flex-direction: column;
		align-items: center;
	}

	.enligne1, .enligne2
	{
		position: static;
	}
	
	.fig1, .fig4
	{
		width: 250px;
		height: 200px;
		margin-left: 0;
		margin-right: 30px;
	}
	
	 .fig2,.fig5
	{
		width: 250px;
		height: 200px;
		
	}
	.fig3,.fig6
	{
		height: 200px;
		position: static;
		width: 250px;
	}
	
	.h-a
	{
		width: 100%;
		order: 2;
		border-bottom: 2px solid #F2F2F2 ;
		margin-bottom: 10px;
		padding-left: 25px;
		padding-right: 50px;
	}
	.h-a a:hover
	{
		border-top:none;
		border-bottom:2px solid #0065FC ;
	}

	footer 
	{
		flex-direction: column;
		justify-content: space-between;
		padding-left: 5%;
	}

	footer .a_propos
	{
		margin-left: 0px;
	}

	.assistance h3 {
		padding-left: 0;
	}

	.assistance ul 
	{
		padding: inherit;
	}

}

@media only screen and (max-width:745px)
{
	.hebergements figure
	{
		width: 170px;
	}
}


@media only screen and (max-width:650px)
{
	.hebergements
	{
		height: 1370px;
		width: 100%;
	}

	.hebergements figure
	{
		width: 230px;
	}

	.bloc1H
	{
		flex-direction: column;
		align-items: center;
	}

	.bloc1H figure
	{
		margin: 0;
		margin-bottom: 20px;
	}

}

@media only screen and (max-width:420px) /*breakpoint filtres*/
{
	.filtres ul
	{
		height:120px;
	}
}

 @media screen and (min-width:371px) /*breakpoint affichage logo rech
									 dans le formulaire*/
{

	.bouton-rech i
	{
	  display: none;
	}
	.saisie-rech
	{
		padding: 0 5px;
		width: 160px;
	}
  }

 

@media only screen and (max-width: 370px) 
{	
	.form-rechercher
	{
		justify-content: center;
	}

	.saisie-rech 
	{
		padding: 0 5px;
		font-size: 0.6em;
		width: 115px;
	}

	.text-bouton-rech

	{
		display: none;
	}

	h1 
	{
		font-size: 1.1em;
	}

	h1 + p 
	{
		font-size: 0.8em;
	}

	h2 
	{
		font-size: 1.2em;
	}


	.infosmenu 
	{
		font-size: 0.6em;
	}

	.bloc1A
	{
		
		width:265px; 
		height: 100px;
	}

	.bloc1A img, .bloc2A img
	{
		width: 120px; 
		height: 90px;
	}

	.lpp h3
	{
		margin: auto;
		font-size: 0.9em;
	}
	.lpp p
	{
		font-size: 0.8em;
	}
	.notation, .notation2 
	{
		font-size: 0.8em;
	}
	
	.legende
	{
		padding-right: 0;
		padding: 5px 5px 5px 0;
	}

	#activitésmarseille
	 {
		height: 1150px;
		margin-top: 20px;
	}

	.fig1, .fig4 
	{
		width: 190px;
		height: 150px;
		margin-right: 0px;
	}

	.fig2, .fig3,.fig5, .fig6
	{
		width: 190px;
		height: 150px;
		margin-left: 55px;
	}

	.enligne1, .enligne2
	{
		width: 300px;
	}

	.bloc-A figcaption
	{
		font-size: 0.8em;
	}

}



  
  

@media only screen and (max-width: 300px)
{

	.logo i
	{
		font-size: 10px;
	}

	.filtres li 
	{
		margin-right: 0px;
	}

	.eco, .rom 
	{
		font-size: 0.8em;
		width: 125px;
		margin-top: 10px;
	}

	.dog 
	{
		font-size: 0.7em;
		width: 145px;
	}

	.fam 
	{
		font-size: 0.8em;
		width: 90px;
	}

	.infosmenu 
	{
		font-size: 0.5em;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.h-a
	{
		padding: 5px;
	}

	.bloc1A
	{
		
		width:210px; 
		height: 90px;
	}
	.bloc1A img, .bloc2A img
	{
		width: 100px; 
		height: 80px;
	}
	.lpp h3
	{
		font-size: 0.6em;
	}
	.lpp p
	{
		font-size: 0.6em;
	}
}

